.main{
    position: fixed;
    bottom: 100px;
    right: 32px;
}
.issue-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;

  border: 1px solid #ccc;
  background: var(--Main-White, rgba(248, 248, 248, 1));
  border-radius: 5px;
  
}

.issue-form h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 0px 0px;
}

.issue-form label {
  margin-top: 1rem;
}

.issue-form select,
.issue-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.issue-form textarea {
  width: auto;
  height: 100px;
}

.custom-file-upload {
  /* margin-top: 1rem; */
  /* display: inline-block; */
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  z-index: 2;
  position: inherit;
}

#file-upload {
  display: none;
}

.issue-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: var(--Main-Black, rgba(15, 15, 15, 1));

  color: white;
  cursor: pointer;
}
.email{
  
  border: #ccc;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}
.issue-form button:hover {
  background: var(--Main-Black, rgba(15, 15, 15, 1));
}
