.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  gap: 5px;
  position: absolute;
  bottom: 80px; /* Adjust the bottom position to move above the FAB */
  right: 0;
  transition: all 0.3s ease; /* Add transition for smooth animation */
}

.menu-item {
  display: flex;
  background-color: transparent;
  color: black;
  align-items: center;
  width: 247px;
  max-width: 300px;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
}

.menu-item span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 5px 18px;
  border-radius: 4px;
}

.menu-item img {
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
}

.dropdown-menu.open {
  flex-direction: row; /* Align items horizontally when menu is open */
}

.dropdown-menu.open .menu-item {
  width: auto; /* Allow menu items to expand */
}

.dropdown-menu.open .menu-item span {
  padding: 5px 10px; /* Adjust padding */
}

.dropdown-menu.open .menu-item img {
  width: 50px; /* Adjust image size */
  height: 50px;
}
