.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .fab-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .fab-menu {
    position: absolute;
    bottom: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  