.App-button button {
  background-color: inherit;
  color: white;
  border: #000;
  font-size: x-large;
  margin-top: 50px;
  margin-left: 100px;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.drpdwn {
  background: var(--Main-White, rgba(248, 248, 248, 1));
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-size: inherit;
  font-weight: 500;
}

.Answer {
  display: inline-flex;
  column-gap: 10%;
  width: 100%;
  max-width: 832px;
  margin: 0;
}

.Answer h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: rgba(248, 248, 248, 1);
}

.Answer h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  color: var(--Main-White, rgba(248, 248, 248, 1));
}
@media (max-width: 768px) {
  .App-button button {
    margin-left: 20px;
    font-size: large;
  }
  .Answer {
    column-gap: 5%;
  }
  .Answer h2 {
    font-size: 20px;
  }
  .Answer h3 {
    font-size: 16px;
  }
}
